#title {
  background-color: #ff4c68;
}

#features {
  background-color: #ff4g68;
}

.topic {
  font-family: 'Ubuntu';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bolder;
  color: white;
}

.containerfluid {
  padding-right: 5rem;
  padding-top: 3%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 5rem;
}

.navbarbrand {
  font-family: 'Ubuntu';
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  padding-top: 0.3125 rem;
  padding-bottom: 0.3125 rem;
  margin-right: 1 rem;
  line-height: inherit;
  white-space: nowrap;
  color: white;
}

.navbarx {
  padding-bottom: 4.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 0.5rem;
  font-size: 1.5rem;
}

.btn {
  margin-right: 5%;
  margin-top: 3%;
  margin-bottom: 5%;
}

.phone {
  width: 60%;
  transform: rotate(20deg);
}


.colcustom {
  position: relative;
  width: 100%;
  min-height: 1 px;
  padding-right: 15 px;
  padding-left: 15 px;
}
.medium{
  margin-left: auto;
  margin-right: auto;
}

.hello{
  padding-top: 10rem;
  padding-bottom: 10rem;
  padding-left: 10rem;
  padding-right: 10rem;
  text-align: center;

}

.icon{
 margin-bottom: 15px;
 color: #FFA0A0;
}
.icon:hover{
  color:#ff4c68;
}
.sub{
  font-weight: bolder;
}

#testimonials{

  text-align: center;
  background-color: #FFA0A0;
  color: white;
}

.testimonial{
  font-size: 2.5rem;
  font-weight: bolder;
}

.img1{
  width: 10%;
  border-radius: 100%;
  margin: 20PX;
}

#press{
  background-color: #FFA0A0;
}

.companies{
padding-top: 5rem;
padding-bottom: 5rem;
padding-left: 2rem;
padding-right: 2rem;
}
.com{
  text-align: center;
}
.coimg{
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 45px;
}
.carousel-item{
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
