#title {
  background-color: #ff4c68;
}

#features {
  background-color: #ff4g68;
}

.topic {
  font-family: 'Ubuntu';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bolder;
  color: white;
}

.containerfluid {
  padding-right: 5rem;
  padding-top: 3%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 5rem;
}

.navbarbrand {
  font-family: 'Ubuntu';
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  padding-top: 0.3125 rem;
  padding-bottom: 0.3125 rem;
  margin-right: 1 rem;
  line-height: inherit;
  white-space: nowrap;
  color: white;
}

.navbarx {
  padding-bottom: 4.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 0.5rem;
  font-size: 1.5rem;
}

.btn {
  margin-right: 5%;
  margin-top: 3%;
  margin-bottom: 5%;
}

.phone {
  width: 60%;
  transform: rotate(20deg);
}


.colcustom {
  position: relative;
  width: 100%;
  min-height: 1 px;
  padding-right: 15 px;
  padding-left: 15 px;
}
.medium{
  margin-left: auto;
  margin-right: auto;
}
